
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/Server/sqlite3/db.lock
Server/.vs/Server/v15/Server/sqlite3/storage.ide
Server/.vs/Server/v15/Server/sqlite3/storage.ide-shm
Server/.vs/Server/v15/Server/sqlite3/storage.ide-wal
